body {
    background-color: ghostwhite;
}

#title {
    color: white;
    padding-top: 35vh;
    font-family: 'Roboto', sans-serif;
}

#texto {
    background-size: cover;
    background-image: url('/src/fundoHome.jpg');
}

#garota {
    background-size: cover;
    background-image: url('/src/fundoHome2.jpg');
}

#saibaMais {
    color: whitesmoke;
    border: 2px dashed whitesmoke;
}

#saibaMais:hover {
    color: black;
    border-color: black;
    background-color: whitesmoke;
}

#section2 {
    width: 60vh;
    margin: auto;
    height: 60vh;
    border-radius: 50%;
    background-size: cover;
    background-image: url('/src/home2.jpg');
}

#section3 {
    width: 60vh;
    margin: auto;
    height: 60vh;
    border-radius: 50%;
    background-size: cover;
    background-image: url('/src/home3.jpg');
}

.lead {
    font-family: 'Lato', sans-serif;
}

.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

.cover-container {
    max-width: 42em;
}

@media (min-width: 48em) {

    .masthead-brand {
      float: left;
    }

    .nav-masthead {
      float: right;
    }
}