/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }
  
  *,
  *::before,
  *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
   
  
  .ftco-section {
    padding: 7em 0; }
  
  .ftco-no-pt {
    padding-top: 0; }
  
  .ftco-no-pb {
    padding-bottom: 0; }
  
 .wrap {
    width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24); }
  
  .text-wrap, .login-wrap {
    width: 50%; }
    @media (max-width: 991.98px) {
      .text-wrap, .login-wrap {
        width: 100%; } }
  
  .text-wrap {
    background: #08beb8;
    background: -moz-linear-gradient(-45deg, #08beb8 0%, #89d0ca 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #08beb8), color-stop(100%, #89d0ca));
    background: -webkit-linear-gradient(-45deg, #08beb8 0%, #89d0ca 100%);
    background: -o-linear-gradient(-45deg, #08beb8 0%, #89d0ca 100%);
    background: -ms-linear-gradient(-45deg, #08beb8 0%, #89d0ca 100%);
    background: -webkit-linear-gradient(315deg, #08beb8 0%, #89d0ca 100%);
    background: -o-linear-gradient(315deg, #08beb8 0%, #89d0ca 100%);
    background: linear-gradient(135deg, #08beb8 0%, #89d0ca 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08beb8', endColorstr='#89d0ca', GradientType=1 );
    color: #fff; }
    .text-wrap .text h2 {
      font-family: 'Roboto';
      color: #fff; }
  
  .login-wrap {
    position: relative;
    background: #fff; }
    .login-wrap h3 {
      font-weight: 300; }
  
  .form-group {
    position: relative; }
    
    .form-group a {
      color: gray; }
  
  .form-control {
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    font-size: 16px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .form-control {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }
    .form-control::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: rgba(0, 0, 0, 0.2) !important; }
  